<footer class="footer">
    <div class="footer-container">
        <div class="logo">
            <img src="../img/HoruxLogo.png" alt="Horux LATAM">
        </div>

        <div class="footer-info">
            <div class="location">
                <h3>SANTIAGO</h3>
                <p>Domingo Faustino Sarmiento 387, Ñuñoa, Chile</p>
            </div>
            <div class="location">
                <h3>CONCEPCIÓN</h3>
                <p>Libertador Cral. Bernardo O'Higgins 330, oficina 35</p>
            </div>
            <div class="location">
                <h3>ANTOFAGASTA</h3>
                <p>Gladys Marín 625, torre A, oficina 903</p>
            </div>
            <div class="contact">
                <h3>CONTACTO</h3>
                <p>contacto@hxlatam.com</p>
            </div>
        </div>

        <div class="flags">
            <img src="img/flags/aruba.png" alt="Aruba">
            <img src="img/flags/curacao.png" alt="Curacao">
            <img src="img/flags/bolivia.png" alt="Bolivia">
            <img src="img/flags/chile.png" alt="Chile">
            <img src="img/flags/colombia.png" alt="Colombia">
            <img src="img/flags/costa-rica.png" alt="Costa Rica">
            <img src="img/flags/ecuador.png" alt="Ecuador">
            <img src="img/flags/mexico.png" alt="México">
            <img src="img/flags/panama.png" alt="Panamá">
            <img src="img/flags/paraguay.png" alt="Paraguay">
            <img src="img/flags/peru.png" alt="Perú">
            <img src="img/flags/puerto-rico.png" alt="Puerto Rico">
            <img src="img/flags/republica-dominicana.png" alt="República Dominicana">
            <img src="img/flags/uruguay.png" alt="Uruguay">
        </div>

        <div class="copyright">
            <p>© 2024 Copyright Horux Latam</p>
        </div>
    </div>
</footer>