.footer {
    background-color: #F5F5F5;
    padding: 30px 0;
    text-align: center;
    margin-top: 4rem;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
}

.logo img {
    width: 180px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px 0;
    width: 100%;
}

.footer-info > div {
    flex: 1; 
    padding: 10px;
    border-bottom: 2px solid #605b5a;
}

.footer-info h3 {
    color: #605b5a;
    font-size: 18px;
    margin-bottom: 5px;
}

.footer-info p {
    color: #605b5a;
    font-size: 14px;
}

.flags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.flags img {
    width: 60px;
    height: 37.5px;
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #605b5a;
}